<div class="container text-center">
  <h1>Insta Clone App</h1>
  <%= link_to image_tag("LP.png", alt: "logo", width: "25%", height: "25%", class: "lp-logo"),
              'https://dashboard.heroku.com/apps/urano-insta-app' %>
  <h2>
    Developed with reference to
    <a href="https://dashboard.heroku.com/apps/urano-insta-app">Rails Tutorial</a>.
  </h2>
  <p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </p>
  <p>or</p>
  <p>
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  </p>
  <h2>
    【test user】
    <br>
    email => example@railstutorial.org
    <br>
    password => foobar
  </h2>
</div>


