<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: 'form-control' %>
      
      <%= f.label :new_password %>
      <%= f.password_field :new_password, class: 'form-control' %>
      
      <%= f.label :new_password_confirmation %>
      <%= f.password_field :new_password_confirmation, class: 'form-control' %>


      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>