<% provide(:title, "Notifications") %>
<div>
  <h4 class="sub-title">Notifications</h4>
  <% if @notifications.exists? %>
    <div class="users-index">
      <%= render @notifications %>
      <%= will_paginate @notifications %>
    </div>
  <% else %>
    <p>No Notification</p>
  <% end %>
</div>