<% if !current_user?(micropost.user) %>
  <span class="like" id="fa-<%= micropost.id %>">
    <% if micropost.favorite?(current_user) %>
      <%= render 'likes/unfavorite', micropost: micropost %>
    <% else %>
      <%= render 'likes/favorite', micropost: micropost %>
      <% end %>
  </span>
<% end %>