<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :introduction %>
      <%= f.text_area :introduction,  class: 'form-control', placeholder: "160文字以内で入力" %> 
      
      <%= f.label :website %>
      <%= f.text_field :website,  class: 'form-control' %> 
      
      <%= f.label :gender %>
      <%= f.text_field :gender,  class: 'form-control' %>       
      
      <%= f.label :phone %>
      <%= f.text_field :phone,  class: 'form-control' %> 
      

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  
    <div class="gravatar_edit float-left">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
    
  </div>
</div>
  <% if @user == current_user %>
    <section class="clear-right">
      <%= link_to "delete", user_path, method: :destroy, data: {confirm: "really?"} %>
    </section>
  <% end %>
