<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p><%= @user.user_name %></p>
      <a href = "<%= @user.website %>"><%= @user.website %></p>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="introduction">
      <%= render 'shared/introduction' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <div class="row microposts">
        <%= render @microposts %>
      </div>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>