<% if @feed_items.any? %>
  <div class="content-title bg-primary flexbox-container-vertical-center">
    <div class="feed-title text-center"><p>Micropost Feed</p></div>
  </div>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>