<div class="col-md-4 post-content">
  <div class="microposts">
    <li id="micropost-<%= micropost.id %> ">
      
      <!--<micropost>-->
      <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
      <span class="content mp-image">
        <button type="button" class="btn"  data-toggle="modal" data-target="#micropost-<%= micropost.id %>">
          <% if micropost.picture? %>
            <%= image_tag(micropost.picture.url, :class => "post-image") %>
          <% else %>
            <%= image_tag("mp-default.png", :class => "post-image") %>
          <% end %>
        </button>
      </span>
      <div class="content mp-content">      
        <p><%= link_to(micropost.content, micropost_path(micropost)) %></p>
      </div>
      <div class="align-items-end">
        <p class="timestamp">
          Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        </p>
        <p class="mp-delete">
          <% if current_user?(micropost.user) %>
            <%= link_to "delete", micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
          <% end %>
        </p>
        <div id="likes">
          <%= render "likes/like", micropost: micropost %>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="micropost-<%= micropost.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title" id="exampleModalCenterTitle"><%= link_to(micropost.content, micropost_path(micropost)) %></p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body row">
              <div class="col-md-6">
                <span class="content mp-image">
                <button type="button" class="btn"  data-toggle="modal" data-target="#micropost-<%= micropost.id %>">
                  <% if micropost.picture? %>
                    <%= image_tag(micropost.picture.url, :class => "post-image") %>
                  <% else %>
                    <%= image_tag("mp-default.png", :class => "post-image") %>
                  <% end %>
                </button>
                </span>
              </div>          
              <div class="col-md-6">
                <div class="comment-title">
                  <p>Comments</p>
                </div>
                  <ul>
                    <% micropost.comments.each do |com| %>
                      <li class="text-left comment-list">
                        <%= com.body %>
                        by <%= link_to com.user.name, user_path(com.user.id) %>
                      </li>
                    <% end %>
                  </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </li>
  </div>
</div>
  