<% provide(:title, 'Search Posts') %>

<h1>all post</h1>

<%= will_paginate %>

<p>Micropost Search</p>
<%= form_tag microposts_path, :method => 'get' do %>
<%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<ul class="microposts">
  <%= render @microposts %>
</ul>

<%= will_paginate %>