<div class="main posts-show">
  <div id="micropost-<%= @micropost.id %>">
    <%= link_to gravatar_for(@micropost.user, size: 120), @micropost.user ,:class=>"user-name" %>
    <section class="user"><%= link_to "#{@micropost.user.name}", @micropost.user  %></section>
    <%= image_tag(@micropost.picture.url, :class => "post-image") if @micropost.picture? %>
    <p class="micropost_content">
      <%= @micropost.content %>
    </p>
    <section class="posts-show-datetime">
      <%= @microposts.created_at %>
    </section>
  </div>
  
  <div class="comment-index">
    <h3>Comments</h3>
    <% @micropost.comments.each do |comment| %>
     <section class="comments">
      <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
      <p>
        <%= link_to "#{comment.user.name}" , @user %>: <%= comment.body %>
        <%= link_to "delete", micropost_comment_path(@micropost,comment), method: :delete if current_user?(comment.user) %>
      </p>
       </section>
    <% end %>
  </div>
  
  <div class="comment-form">
    <%= form_for([@micropost , @comment]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_area :body, placeholder: "Send comment..." %>
      </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>

  <script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/500/500;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
  </div> 
</div>