<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">Insta Clone App</a>
    by <a href="http://www.michaelhartl.com/">Satoshi Urano</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Terms of service",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>